@media(max-width: 767.5px) {
    .right {
        margin-top: 2rem !important;
    }

    /* .table {
        font-size: x-small;
    } */
}

/*
@media(max-width: 468px) {
    .table {
        font-size: xx-small;
    }
} */