.card {
    border: none !important;
    background-image: linear-gradient(to right, #6c757d, #acacac) !important;
}

.img {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
    animation: upDown 2s linear alternate-reverse infinite;
}

.card:hover,
.cardCarousel:hover {
    box-shadow:
        0px 0px 2.2px rgba(0, 0, 0, 0.07),
        0px 0px 5.3px rgba(0, 0, 0, 0.05),
        0px 0px 10px rgba(0, 0, 0, 0.042),
        0px 0px 17.9px rgba(0, 0, 0, 0.035),
        0px 0px 33.4px rgba(0, 0, 0, 0.028),
        0px 0px 80px rgba(0, 0, 0, 0.02);
}

@media (max-width: 767.5px) {
    .cardCarousel {
        margin-top: 2rem !important;
    }

    .row {
        flex-direction: column-reverse !important;
    }
}

@media (max-width: 450px) {

    th,
    td {
        font-size: x-small !important;
    }
}

@media (max-width: 330px) {

    th,
    td {
        font-size: xx-small !important;
    }
}